<div class="ask-aswer-container">
  <p><%= @question %></p>
  <p class="text-italic">- You</p>
</div>

<div class="ask-aswer-container bg-warning">
  <p class="bold"><%= @question %></p>
  <p class="text-italic">- Your coach</p>
</div>

<%= link_to "Ask another question", ask_path %>
