
<p>Ask your coach anything:</p>
<form class="form-inline" action="/answer">

  <input class="form-control mr-sm-2 w-50" name="question" type="search" placeholder="Your question here" aria-label="Search">
  <button class="btn btn-warning my-2 my-sm-0" type="submit">Ask question</button>
</form>
